@tailwind base;
@tailwind components;
@tailwind utilities;
/* .hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  /* scrollbar-width: none;     /* Firefox */
 */ */

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
/* In index.css or App.css */
body {
    /* Prevents horizontal scrolling/scrollbar on the entire page */
    overflow-x: hidden;
    /* (Optional) Ensures the body covers the entire viewport */
    width: 100vw; 
}
.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}